
html, body {
	overflow: hidden;
	height: 100%;
}

.side {
	box-sizing: border-box;
	overflow: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 600px;
	background: #f1f1f1;


	.side-top {
		padding: 15px 15px 0;
		background: #d6d6d6;
		border-bottom: 1px solid #d0d0d0;
	}

	.side-main {
		padding: 15px;
	}

	.input_title {
		&[data-over='true'] {
			border-color: #a94442;
			background-color: #f2dede;
		}
	}

	.input_title_extra {
		.input_title
	}
}

.main {
	position: absolute;
	top: 0;
	left: 600px;
	right: 0;
	bottom: 0;

	iframe {
		width: 100%;
		height: 100%;
		background: #fcfcfc;
		border: 0;
	}
}

.welcome {
	opacity: .075;
	font-size: 0;
	text-align: center;
	height: 100%;

	p {
		display: inline-block;
		font-size: 72px;
	}

	&:before {
		content: '';
		display: inline-block;
		width:0;
		height: 100%;
		vertical-align:middle;
	}
}
